@import url("style_scroll.css");


.bgimg-1 {
    background-image: url("img/melita.png");
    min-height: 90%;
}

.bgimg-2 {
    background-image: url("img/kalita.png");
    min-height: 90%;
}

.bgimg-3 {
    background-image: url("img/kalita_wave.png");
    min-height: 90%;
}

.bgimg-4 {
    background-image: url("img/hario.jpg");
    min-height: 90%;
}


p {
    margin-left : 15%;
    margin-right : 15%;
    text-align: center;
    align-content: center;
}
