@import url("style_scroll.css");


.bgimg-1 {
    background-image: url("img/dripguide_intro.png");
    min-height: 95%;
}

.bgimg-2 {
    background-image: url("img/step1-rinse-filter-medium.jpg");
    min-height: 60%;
}

.bgimg-3 {
    background-image: url("img/step2-add-coffee-medium.jpg");
    min-height: 70%;
}

.bgimg-4 {
    background-image: url("img/blooming.png");
    min-height: 80%;
}

.bgimg-5 {
    background-image: url("img/drip_long.png");
    position: relative;
    opacity: 0.9;
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    min-height: 300%;
    
}

.bgimg-6 {
    background-image: url("img/dripguide_intro.png");
    min-height: 95%;
}


p {
    margin-left : 15%;
    margin-right : 15%;
    text-align: center;
    align-content: center;
}