@import url("style_scroll.css");

.bgimg{
    background-image : url("img/coffee_belt_2.png");
    width : 100%;
    height : 100%;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}